.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50px;
}

.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.carrot_logo {
  display: flex;
  height: 170%;
  align-items: center;
  padding-bottom: 12px;
}

.logo {
  display: flex;
  height: 50%;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.menu_orange {
  display: flex;
  justify-content: space-between;
  height: 90%;
  align-items: center;
  padding-bottom: 10px;
  background-color: transparent;
  border-color: transparent;
  color: #ff6f0f;
  font-weight: 900;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 90%;
  align-items: center;
  padding-bottom: 10px;
  background-color: transparent;
  border-color: transparent;
  justify-content: center;
  font-weight: 900;
}

.search_s {
  display: flex;
  justify-content: space-between;
  height: 90%;
  align-items: center;
  margin-left: 100px;
}

.search {
  display: flex;
  height: 30px;
  width: 260px;
  padding: 12px;
  border: transparent;
  background-color: #f2f3f6;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.comment-button {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  color: #212529;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  margin-left: 16px;
  font-size: 11px;
  text-decoration: none;
}

.footer_align_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 230px;
}

.footer_0 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 40px;
  align-items: center;
  font-size: 11px;
  border-bottom: 1px solid #e2e2e5;
}

.used_text {
  text-decoration: underline;
  padding-bottom: 10px;
  font-weight: 600;
}

.used_searched_word {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 780px;
}

.rink_s {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  float: left;
  width: 350px;
}
.rink_column_1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rink_column_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rink_column_3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.rink {
  height: 35px;
  font-size: 11px;
  color: #212124;
  list-style-type: none;
}

.app_down {
  width: 400px;
  float: right;
  margin-right: 120px;
}

.text_app_down {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 4px;
}

.img_app_down {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.footer_2 {
  border-top: 1px solid #e2e2e5;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 280px;
}
.footer_2_left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  width: 50%;
  font-size: 7px;
  height: 300px;
  color: #868b94;
}

.tmi_2 {
  display: flex;
  margin: 20px 0;
  width: 200px;
  justify-content: space-between;
}

.tmi_3 {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.footer_2_right {
  display: flex;
  justify-content: end;
  float: right;
  width: 40%;
}
